<div *ngIf="messageService.messages.length">
    <div class="well">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Messages</h2>
            </div>
        </div>
        <ul>
            <div *ngFor='let message of messageService.messages'>
                <li class=" list-unstyled alert {{message.type}}">{{message.message}}</li>
            </div>
        </ul>
        <div class="row Text-center">
            <div class="col-md-12">
                <button class="btn btn-warning" (click)="messageService.clear()">
                    Clear
                </button>
            </div>
        </div>
    </div>
</div>