<table class='table' *ngIf="(users$ | async).length">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users$ | async">
            <td> {{ user.firstName }} </td>
            <td> {{ user.lastName }} </td>
            <td>
                <a routerLink="/detail/{{user.id}}">Detail</a> |
                <a (click)="edit()">Edit</a> |
                <a (click)="delete()">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
